<template>
  <div class="root">
    <v-btn to="/">Back</v-btn>
    <v-dialog ref="openDialogRef" presistent v-model="openDialog" lazy full-width
          width="290px" :return-value.sync="openTime">
      <v-text-field slot="activator" label="Open Time" v-model="openTime"
          prepend-icon="access_time" readonly></v-text-field>
      <v-time-picker v-model="openTime" actions>
        <v-spacer></v-spacer>
        <v-btn flat color="primary" @click="openDialog = false">Cancel</v-btn>
        <v-btn flat color="primary" @click="$refs.openDialogRef.save(openTime)">OK</v-btn>
      </v-time-picker>
    </v-dialog>
    <v-dialog ref="closeDialogRef" presistent v-model="closeDialog" lazy full-width
          width="290px" :return-value.sync="closeTime">
      <v-text-field slot="activator" label="Close Time" v-model="closeTime"
          prepend-icon="access_time" readonly></v-text-field>
      <v-time-picker v-model="closeTime" actions>
        <v-spacer></v-spacer>
        <v-btn flat color="primary" @click="closeDialog = false">Cancel</v-btn>
        <v-btn flat color="primary" @click="$refs.closeDialogRef.save(closeTime)">OK</v-btn>
      </v-time-picker>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      openDialog: false,
      openTime: null,
      closeDialog: false,
      closeTime: null,
    };
  },
};
</script>


<style lang="scss" scoped>
  .root {
    text-align: center;
  }
</style>
