<template>
  <section>
    <h1>Door status</h1>
    <div class="doors">
      <Door id="main" :open="openDoors.openDoors.main" />
      <Door id="sliding" :open="openDoors.openDoors.sliding" />
      <Door id="nesting" :open="openDoors.openDoors.nesting" />
    </div>
    <div class="controls">
      <v-btn to="config">Change Configuration</v-btn>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex';
import Door from '@/components/Door';

export default {
  computed: {
    ...mapState(['openDoors']),
  },
  created() {
    this.$store.state.db.collection('coop').doc('open_doors').onSnapshot((dbOpenDoors) => {
      if (dbOpenDoors && dbOpenDoors.data()) {
        this.$store.commit('openDoors/setOpenDoors', dbOpenDoors.data());
      }
    });
  },
  components: {
    Door,
  },
};
</script>

<style lang="scss" scoped>
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto .5rem;
  text-align: center;
}

.doors {
  display: flex;
}

.controls {
  padding: 1rem;
  text-align: center;
}
</style>
