<template>
  <div class="door" v-bind:class="{ open }">
    <h3>{{ id }}</h3>
    <div class="status">{{ open ? 'Open' : 'Closed' }}</div>
  </div>
</template>

<script>
export default {
  name: 'Door',
  props: {
    id: {
      type: String,
      required: true,
    },
    open: {
      type: Boolean,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../styles/vars.scss';

.door {
  background: $color-lt-grey;
  font-size: 1.3rem;
  flex: 1 1 33%;
  margin: .5rem;
  text-align: center;
  text-transform: capitalize;
  transition-duration: 0.3s;
  transition-property: width;
  transition-timing-function: ease-in-out;

  h3 {
    background: $color-dk-grey;
    color: $color-white;
    font-size: 1rem;
    font-weight: 300;
    padding: .5rem;
  }
}

.status {
  padding: .5rem;
  transition-duration: 0.3s;
  transition-property: background color;
  transition-timing-function: ease-in-out;

  .open & {
    background: #6f0e0e;
    color: #eaeaea;
  }
}
</style>
