<template>
<div>
  <v-btn v-on:click="loginToGoogle">Please Login wtih Google</v-btn>
</div>
</template>

<script>
import Firebase from 'firebase';

const provider = new Firebase.auth.GoogleAuthProvider();

export default {
  methods: {
    loginToGoogle: () => {
      Firebase.auth().signInWithRedirect(provider);
    },
  },
  beforeCreate() {
    Firebase.auth().getRedirectResult().then((result) => {
      let token;
      if (result.credential) {
        token = result.credential.accessToken;
      }

      const user = result.user;

      this.$log.info('Logged in!', user, token);
    }).catch((error) => {
      this.$log.error('There was an error', error);
    });
  },
};
</script>

<style lang="scss" scoped>
@import '../styles/vars.scss';
div {
  text-align: center;
}
</style>
