<template>
  <footer class="container">©{{ currentYear }} Remington Reed. All rights reserved.</footer>
</template>

<script>
import moment from 'moment';

const currentYear = moment().format('YYYY');
export default {
  data() {
    return {
      currentYear,
    };
  },
};
</script>

<style lang="scss" scoped>
  @import '../styles/vars.scss';

  footer {
    background: $color-semi-dk-grey;
    color: $color-white;
    flex: 0 0 auto;
    font-size: 1rem;
    text-align: center;
  }
</style>
