<template>
<header>
  <div class="container">
    <img class="main-logo" src="../assets/img/chicken-logo.svg" alt="Logo" />
    <div class="accountlette" v-if="currentUser">
      <span class="user-info">
        Hi {{ currentUser.displayName }}
        <button v-if="currentUser" v-on:click="logoutOfGoogle">Logout</button>
        <button v-else v-on:click="gotoLogin">Login</button>
      </span>
      <span class="avatar">
        <img :src="currentUser.photoURL" :alt="currentUser.displayName">
      </span>
    </div>
  </div>
</header>
</template>

<script>
import Firebase from 'firebase';
import { mapState } from 'vuex';

export default {
  name: 'TheHeader',
  computed: {
    ...mapState('users', ['currentUser']),
  },
  methods: {
    logoutOfGoogle() {
      Firebase.auth().signOut().then(() => {
        // Signout
        this.$log.info('Logged out');
        this.$router.replace('/login');
      }).catch((error) => {
        this.$log.error('There was a problem logging out.', error);
      });
    },
    gotoLogin: () => {
      this.$router.replace('/login');
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../styles/vars.scss';
header {
  background: $color-semi-dk-grey;
  color: $color-white;
  display: flex;
  flex: 0 0 auto;
  font-size: .9rem;
  padding: .5rem;
}

.main-logo {
  height: 4rem;
  width: 4rem;
}

.accountlette {
  display: flex;
  margin-left: auto;
  vertical-align: top;

  span {
    flex: auto;
    text-align: right;
  }

  .user-info {
    padding: .5rem;
  }

  button {
    background: none;
    border: none;
    color: #efefef;
    cursor: pointer;
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
    text-align: right;
  }

  img {
    vertical-align: top;
    width: 4rem;
  }
}
</style>
