/// Colors

$color-black: #2c3e50;
$color-dk-grey: rgb(63, 61, 61);
$color-lt-grey: #b8bbb1;
$color-white: #e6e4dd;

$color-semi-dk-grey: rgba(19, 10, 6, 0.74);

/// Breakpoints
$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;