<template>
  <v-app>
    <the-header />
    <main class="container">
      <router-view />
    </main>
    <the-footer />
  </v-app>
</template>

<script>
import Firebase from 'firebase';
import { mapState } from 'vuex';
import TheHeader from '@/components/TheHeader';
import TheFooter from '@/components/TheFooter';


export default {
  computed: {
    ...mapState(['currentUser']),
  },
  beforeCreate() {
    Firebase.auth().onAuthStateChanged((currentUser) => {
      this.$store.commit('users/setUser', currentUser || false);

      if (currentUser && this.$route.path === '/login') {
        this.$router.replace('/');
      } else if (!currentUser && this.$route.path !== '/login') {
        this.$router.replace('/login');
      }
    });
  },
  components: {
    TheHeader,
    TheFooter,
  },
};
</script>

<style lang="scss">
@import 'reset-css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i|Material+Icons');
// @import './styles/vuetify.scss';
@import './styles/vars.scss';
@import './styles/mixins.scss';

html {
  background: url('./assets/img/backgrounds/crossing-the-road.jpg');
  background-position: center center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  height: 100%
}
body {
  background: rgba(222, 216, 203, .9);
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}

#app {
  color: $color-black;
  background: none;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main.container {
  flex: 1 0 auto;
}

.container {
  padding: 1rem;
}

</style>
